# Application Environment
APP_ENV=development

# Frontend
APP_FRONTEND_URL=http://127.0.0.1:5173

# Database Configuration
APP_DB_USER=my_db_user
APP_DB_PASS=my_db_pass
APP_DB_HOST=localhost
APP_DB_PORT=3306
APP_DB_NAME=etrace

# JWT Configuration
APP_JWT_SECRET_KEY_ALGORITHM=HS256
APP_ACCESS_TOKEN_EXPIRY_MINUTES=60
APP_PASS_RESET_AND_CHANGE_EXPIRY_MINUTES=60
APP_JWT_PASS_RESET_SECRET_KEY=change-me-use-secrets-token-hex-64
APP_JWT_AUTHENTICATION_SECRET_KEY=change-me-use-secrets-token-hex-64

# Default System Admin Account (First Run Only)
APP_DEFAULT_SYSAD_EMAIL=admin@example.com
APP_DEFAULT_SYSAD_PASS=ChangeMe123!
APP_DEFAULT_SYSAD_FIRST_NAME=System
APP_DEFAULT_SYSAD_LAST_NAME=Administrator