fastapi
slowapi
uvicorn
sqlalchemy
asyncmy
pymysql
alembic
passlib
bcrypt==4.0.1
pandas
PyJWT==2.10.1
pydantic[email]
pydantic-settings
python-dotenv
python-slugify
python-multipart
python-magic-bin
Pillow
aiofiles
geopy